@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');

.main{
    background-color: rgba(4, 39, 61, 0.904);
    padding-top: 5px;
    color: #ffffff;
    text-wrap: pretty;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 50px;
    padding-left: 5px;
    
}

.title{
    font-size: 250%;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    
}

.headimg{
    height: 50px;
    width: 100%;
    object-fit: cover;
}


.header{
    text-align: center;
    font-size: large;
    background-color: white;
    color: black;
    padding-left: 25%;
    padding-right: 25%;
    width: 50%;
}

  html, body{
    background-image: url("https://damonmwilliamson.github.io/resourcse/Twinkling_Stars.gif");
    background-color: black;
    color: white;
    background-repeat: repeat;
}

