

.main{
    background-color: rgb(174, 218, 149);
    padding-top: 5px;
    color: #000000;
    text-wrap: pretty;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 50px;
    padding-left: 5px;
}

.email{
    padding: 5px;
    background-color: #9ab116;
    border-radius: 2px;
    margin-left: 40%;
    margin-right: 40%;
    color: black;
    text-decoration: none;
    
}

.socials{
    text-align: left;
}

.under_construction{
    text-align: center;
    margin: auto;
    padding: 20px;
    padding-bottom: 20px;
}

.header{
    text-align: center;
    font-size: large;
    background-color: white;
    color: black;
    padding-left: 25%;
    padding-right: 25%;
    width: 50%;
}

/* Add a black background color to the top navigation */
.topnav {
    background-image: linear-gradient(180deg, #2e9e23, #9ab116);
    background-color: #2e9e23;
    overflow: hidden;
    font-family: Comic Sans MS;

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #20301a;
    color: white;
  }

  html, body{
    background-image: url("https://damonmwilliamson.github.io/resourcse/Twinkling_Stars.gif");
    background-color: black;
    color: white;
    background-repeat: repeat;
}

table,th,td{
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-collapse: collapse;
}

.navbar{
  border:none ;
  height:60px;
  width:3000px
}